#left {
  width: 300px;
  height: calc(100% - 55px);
  border-color: #444;
  border-right-width: 5px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}
