#arable-crops-1 > .parameter {
  float: left;
}

#arable-crops-1 > .parameter > label {
  min-width: 120px;
  max-width: 120px;
  display: block;
  /*margin-left: 10px;*/
}

#rotation-crops-div > .parameter {
  float: left;
}

#rotation-crops-div > .parameter > label {
  min-width: 120px;
  max-width: 120px;
  display: block;
  /*margin-left: 10px;*/
}

.item {
  width: 70px;
  height: 82px;
  position: absolute;
  z-index: 100;
  border: 0px solid;
  /*border-color: yellow;*/
  border-radius: 4px;
  font-size: 80%;
  color: rgb(153, 153, 153);
  background-color: rgb(34, 34, 34);
}
.item-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 20px;
  cursor: move;
}
.item-body {
  border: 0px solid;
  height: 60px;
  position: relative;
  cursor: pointer;     
}
.item-body-left {
/*  border-top-width: 1px;
  border-top-style: solid;*/
  width: 30px;
  height: 60px;
  float: left; 
}
.item-body-right {
/*  border-left-width: 1px;
  border-left-style: solid;
  border-top-width: 1px;
  border-top-style: solid;*/
  height: 60px;
  overflow: hidden;
  position: relative;
}
.item-drop {
  width: 8px !important;
  height: 8px !important;
  position: absolute;
  left: 2px;
  top: calc(50% - 4px);
  border-radius: 8px;
  background-color: rgb(153, 153, 153);
}

.item-drag {
  width: 8px !important;
  height: 8px !important;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(100% - 10px);
 border-radius: 8px;
  cursor: crosshair;
  background-color: rgb(153, 153, 153);
}

.item-header > span.ui-icon
{
  position: absolute;
  top: -2px;
  left: calc(100% - 14px);
  display: inline-block !important;
  vertical-align: middle !important;
  cursor: pointer;
}

.item-well > .item-header > span.ui-icon {
  display: none !important;
}

span.item-label {
  margin-top: 10px;
  margin-left: 2px;
  color: rgb(34, 34, 34);
}

span.item-drag-area {
  position: absolute;
  top: calc(50% - 5px);
  margin-left: 2px;
  display: none;
}

span.item-drop-area {
  position: absolute;
  top: calc(50% - 5px);
  margin-top: -10px;
  display: none;
}

.item-well {
  float: left;
  cursor: move;
  z-index: 100;
  width: 48px;
  height: 48px;
  margin-right: 2px;
}

.item-well > .item-header {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  text-align: center;
}

#well-div {
  height: 50px;
  padding: 2px;
  background-color: #333;
  color: white;
  border: 1px solid;
  border-color: #444;
  border-bottom-width: 0px;
}

#rotation-div {
  position: relative;
  overflow: hidden;
  height: 300px;
  border: 1px solid;
  border-color: #444;
}

#rotation-crops-div {
  height: 100px;
  background-color: #333;
  color: white;
  border: 1px solid;
  border-color: #444;
  border-top-width: 0px;
}

svg {
  position: absolute;
  top: 0; 
  left: 0;
  z-index: -1;
}

.container {
  width: 100px;
  height: 300px;
  background-color: transparent;
  position: relative;
  float: left;
  border: 0px solid;
  border-color: black;
}

.wheat .item-header {
  background-color: yellow !important;
}

/*.connector.wheat {
  stroke: yellow  !important;
}
*/
.maize .item-header {
  background-color: pink !important;
}

/*.connector.maize {
  stroke: pink  !important;
}
*/
.grass .item-header {
  background-color: forestgreen !important;
}

/*.connector.grass {
  stroke: forestgreen !important;
}
*/
/*.unknown > .item-header {
  background-color: white;
}

.unknown {
  border: 1px solid;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 100;
  top: calc(100% - 52px);
  left: 0px;
}*/

.item-ha {
  color: red;
}
