html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-color: #333;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  /*font-family: Georgia, serif  !important;*/
  font-size: 82%;
  color: #999;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

hr {
  clear: both;
  border: 0;
  height: 2px;
  color: #444;
  background-color: #444;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
  font-size: 100%;
  font-weight: normal;
}

::-webkit-scrollbar-corner, ::-webkit-resizer {
  background:transparent;
}

::-webkit-scrollbar {
  width:8px;
  height:8px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  height:10px;
  display:block;
  background:transparent;
}

::-webkit-scrollbar-track-piece {
  background:#272727;
  border-radius:6px;
}

::-webkit-scrollbar-thumb:vertical {
  height:10px;
}

::-webkit-scrollbar-thumb:horizontal {
  width:10px;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  background:#999;
  border-radius:6px;
}

::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover {
  background:#aaa;
}
