#right {
  height: calc(100% - 53px);
  border-width: 0px;
  margin-right: 3px;
  overflow: hidden;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
}

.stack {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin-left: 10px;
  margin-top: 10px;
  display: none;
}

.link-li {
  cursor: pointer;
  text-decoration: underline;
}

.parameter > label {
  display: block;
  width: 100px;
  white-space: nowrap;
}

.parameter {
  margin-top: 5px;
  margin-bottom: 5px;
}

.advanced {
  display: none;
}

.stack-label {
  margin-top: 5px;
  margin-bottom: 5px;
}
